<template>
  <div id="app">
    <div :style="errorMessageStyle" class="wrapper">
      <ul>
        <li v-for="item in items" v-bind:key="item.name">
          {{ item.name }}: {{ item.price }} × {{ item.quantity }}
          {{ item.name }}の個数:
          <input
            type="number"
            v-model="item.quantity"
          />
        </li>
      </ul>
      <p>小計: {{ totalPrice | numberWithDelimiter }}円</p>
      <p>合計（税込み）: {{ totalPriceWithTax | numberWithDelimiter}}円</p>
      <!-- canBuyがfalseのときに表示されるメッセージ -->
      <p v-show="!canBuy">{{1000|numberWithDelimiter}}円以上からご購入いただけます</p>
      <button v-bind:disabled="!canBuy" v-on:click="doBuy">購入</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      items: [
        {
          name: "鉛筆",
          price: 300,
          quantity: 0
        },
        {
          name: "ノート",
          price: 400,
          quantity: 0
        },
        {
          name: "消しゴム",
          price: 500,
          quantity: 0
        }
      ]
    };
  },
  filters: {
    numberWithDelimiter: function(value) {
      if (!value) {
        return "0";
      }
      return value.toString().replace(/(\d)(?=(\d{3})+$)/g, "$1,");
    }
  },
  methods: {
    doBuy: function() {
      alert(this.totalPriceWithTax + "円のお買い上げ");
      this.items.forEach(function(item) {
        item.quantity = 0;
      });
    }
  },
  computed: {
    totalPrice: function() {
      return this.items.reduce(function(sum, item) {
        return sum + item.price * item.quantity;
      }, 0);
    },
    totalPriceWithTax: function() {
      return Math.floor(this.totalPrice * 1.08);
    },
    canBuy: function() {
      // totalPriceが1000円以下のときにエラーメッセージが表示
      return this.totalPrice >= 1000;
    },
    errorMessageStyle: function() {
      return {
        // canBuyがfalse（1000円以下）のときに赤くする
        border: this.canBuy ? "" : "1px solid red",
        color: this.canBuy ? "" : "red"
      };
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.wrapper {
  text-align: left;
  padding: 0 20px;
}
</style>
